  .form-title {
    background: var(--item-color);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-title input {
    width: 90%;
    background-color: var(--item-color);
    color: var(--text-color);
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
  }

  .form-title input::placeholder {
    color: var(--text-color);
  }

  .form-title input:focus {
    outline: none;
  }

  .additional-details {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }

  .add-task-details-button {
    width: 30px; 
    height: 30px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--item-color);
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
  }

  .priority-container {
    display: flex;
    flex-direction: row;
    padding: 3px;
    align-items: center;
  }

  .repeat-task-container {
    display: flex;
    flex-direction: row;
    padding: 3px;
    align-items: center;

  }

  .add-task-details-button:hover {
    background-color: var(--item-color-hover);
  }
  
  .modal button {
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .modal button[type="submit"] {
    background: var(--primary-color);
    color: white;
  }
  
  .disabled-btn {
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
  }

  .disabled-btn:hover {
    background: #ccc;
    color: #fff;
  }

  .calendar {
    position: absolute;
    top: 200px; /* Adjust based on your layout */
    left: 0;
    z-index: 1000;
  }
  

.priority-menu {
  position: fixed;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 150px;
  z-index: 10;
}

.priority-menu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.priority-menu li {
  padding: 10px;
  cursor: pointer;
}

.priority-menu li:hover {
  background-color: var(--background-color-dark);
}

.recurring-options {
  position: fixed;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.recurring-options ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.recurring-options ul li {
  padding: 10px;
  cursor: pointer;
}

.recurring-options ul li:hover {
  background-color: var(--background-color-dark);
}

.empty-due {
  border: none;
}
