  /* FORM TITLE */   
  .form-title {
    background: var(--item-color);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-title input {
    width:100%;
    background-color: var(--item-color);
    color: var(--text-color);
    padding: 5px;
    margin: 5px 0;
    border: none;
  }

  .form-title input::placeholder {
    color: var(--text-color);
  }

  .form-title input:focus {
    outline: none;
  }

  /* *********************** OTHER INPUTS ************************** */ 

  /* MENU CONTAINER */

  .selection-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  
  .selection-menu {
    position: absolute;
    top: 100%; 
    background-color: var(--item-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 150px;
    z-index: 10;
  }

  .selection-menu {
    list-style: none;
    margin: 0;
  }
  
  .selection-menu li {
    padding: 5px;
    cursor: pointer;
  }
  
  .selection-menu li:hover {
    background-color: var(--item-color-hover);
  }
  
  .additional-details {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
  }

  .menu-button {
    width: 30px; 
    height: 30px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--item-color);
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
  }

  .menu-button:hover {
    background-color: var(--item-color-hover);
  }
  
  .disabled-btn {
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
  }

  .disabled-btn:hover {
    background: #ccc;
    color: #fff;
  }

  .calendar {
    position: absolute;
    top: 200px;
    left: 0;
  }

.menu-button:active,
.menu-button:focus {
  transform: none;
  outline: none;
}

.selected-label {
  color: var(--text-color);
  font-size: 16px;
  margin-right: 5px;
}
