:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: aliceblue;
    --text-color: #333;
    --input-border-color: #ddd;
    --error-color: #f44336;
    --text-color: #333;
    --font-family: 'Roboto', sans-serif;
  }


.body{
    font-family: var(--font-family);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot-password-form {
    max-width: 400px;
    padding: 40px;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password-form h1 {
    text-align: center;
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 30px;
}
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 8px;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
  }