.task-list-details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
  margin-bottom: 30px;
}

.task-list-header {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: none;
}

.title-input:focus {
  color: var(--text-color);
  outline: none;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--text-color);
  font-size: large;
}

.task-list-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.task-list-details ul {
    list-style-type: none;
    padding: 0;
}

.toggle-label {
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 150px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: var(--background-color-dark);
}

.task-item {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--item-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.task-item.completed {
    text-decoration: line-through;
    color: gray;
}

.task-title {
    font-size: 16px;
    font-weight: bold;
}

.task-description {
    font-size: 12px;
    flex: 1;
}

.task-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.due {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  background: var(--background-color);
  padding: 8px 12px;
  border-radius: 6px;
  text-align: center;
  min-width: 100px;
  border: 1px solid grey;
  transition: background 0.2s;
  margin-right: 20px;
}

.due:hover {
  background: var(--background-color-dark);
  cursor: pointer;
}


.delete-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-button:hover {
  background: var(--background-color-dark);
}

.trash-icon {
  font-size: 18px;
}

.task-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.task-content input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 2px;
}

.title-description
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ccc;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:hover + label {
  background-color: #f0f0f0;
}

input[type="checkbox"]:checked + label {
  background-color: #4CAF50;
  border-color: #4CAF50; 
}

input[type="checkbox"]:checked + label::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}

.empty-due {
  border: none;
}

