.task-list-details {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.task-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.task-list-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.task-list-details ul {
    list-style-type: none;
    padding: 0;
}

/* Label for the toggle button */
.toggle-label {
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 150px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.task-item {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.task-item.completed {
    text-decoration: line-through;
    color: gray;
}

.task-title {
    font-size: 16px;
    font-weight: bold;
}

.task-description {
    font-size: 12px;
    flex: 1;
}

.task-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.due {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background: aliceblue;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: center;
  min-width: 100px;
  border: 1px solid grey;
  transition: background 0.2s;
  margin-right: 20px;
}

.due:hover {
  background: rgb(172, 216, 255);
}


.delete-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: aliceblue;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-button:hover {
  background: rgb(172, 216, 255);
}

.trash-icon {
  font-size: 18px;
}

.add-task-button {
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background: rgb(56, 162, 255);
  color: white;
  font-size: 24px;
  border: none;
  position: relative;
  margin-left: 650px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  outline: none;
}

.add-task-button:hover {
  background: rgb(4, 138, 255);
  outline: none;
}